# Terraform
.terraform/
**/.terraform/
**/.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfplan
terraform.tfvars
tfplan
**/data
# Environment files
.env
**/.env

# Python
__pycache__/
*.pyc
*.pyo
venv/

# Hugging Face cache
~/.cache/huggingface/


# large files
/home/sekinat95/cloud-architect-portfolio/projects/06-phd-to-gcp-xr-ml-drx/data/concatenated_df_DN_train.csv
cloud-architect-portfolio/projects/06-phd-to-gcp-xr-ml-drx/data/concatenated_df_DN_train.csvprojects/06-phd-to-gcp-xr-ml-drx/data/*.csv
projects/06-phd-to-gcp-xr-ml-drx/data/*.csv

README_two_vpc.md
README copy.md
WALKTHROUGH_template.md
WALKTHROUGH_single_vpc.md
WALKTHROUGH_inference_pipeline.md
WALKTHROUGH_tts_integration.md
WALKTHROUGH_end_to_end_ml_pipeline.md
WALKTHROUGH_rag_pipeline.md
ADD_template.md
ADR_template.md