# Terraform
.terraform/
**/.terraform/
**/.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfplan
terraform.tfvars
tfplan

# Environment files
.env
**/.env

# Python
__pycache__/
*.pyc
*.pyo
venv/

# Hugging Face cache
~/.cache/huggingface/
